.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
}

.btn {
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}